h1 {
    text-align: center;
}

#banner {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.location {
    color: gray;
    margin-bottom: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#navbar {
    padding: 8px;
}

#logo {
    height: 30px;
}

#about {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 8px;

}

#description {
    width: 50%;
    padding: 8px;

}

#team {
    width: 50%;
}

#team-image {
    border-radius: 5px;
    width: 100%;
}

h2 {
    text-align: center;
}

#jobs {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;
}

h3 {
    margin-bottom: 0;
    margin-top: 0;
}

.apply {
    float: right;
}

a {
    text-decoration: none;
}

#footer {
    background-color: ghostwhite;
    padding: 8px;
    margin-top: 32px;
    text-align: center;
}

#footer-links{
    list-style: none;
    

}

#footer-links li {
    display: inline;
    margin: 0 16px;

}

.copyright {
    color: grey ;
}